@font-face{
	font-family: "NanumBarunGothic";
	src: url('/fonts/NanumBarunGothic.eot')format('eot');
	src: url('/fonts/NanumBarunGothic.woff') format('woff');
}

@font-face{
	font-family: "NanumBarunGothicBold";
	src: url('/fonts/NanumBarunGothicBold.eot')format('eot');
	src: url('/fonts/NanumBarunGothicBold.woff') format('woff');
}

/* nanum-pen-script-regular - latin */
@font-face {
  font-family: 'Nanum Pen Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/nanum-pen-script-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nanum Pen'), local('NanumPen'),
       url('/fonts/nanum-pen-script-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/nanum-pen-script-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/nanum-pen-script-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/nanum-pen-script-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/nanum-pen-script-v7-latin-regular.svg#NanumPenScript') format('svg'); /* Legacy iOS */
}

@font-face{
	font-family: "NanumGothic";
	src: url('/fonts/NanumGothic.eot')format('eot');
	src: url('/fonts/NanumGothic.woff') format('woff');
}

@font-face{
	font-family: "NanumGothicLight";
	src: url('/fonts/NanumGothicLight.eot')format('eot');
	src: url('/fonts/NanumGothicLight.woff') format('woff');
}

@font-face{
	font-family: "NanumMyeongjo";
	src: url('/fonts/NanumMyeongjo.eot')format('eot');
	src: url('/fonts/NanumMyeongjo.woff') format('woff');
}

@font-face{
	font-family: "NanumMyeongjoBold";
	src: url('/fonts/NanumMyeongjoBold.eot')format('eot');
	src: url('/fonts/NanumMyeongjobold.woff') format('woff');
}


@font-face {
	font-family: "NotoSans";
    font-weight: 900;
    font-style: normal;
	src: url('../fonts/notokr-black.eot');
    src: url('../fonts/notokr-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-black.woff2') format('woff2'),
         url('../fonts/notokr-black.woff') format('woff'),
         url('../fonts/notokr-black.ttf') format('truetype'),
         url('../fonts/notokr-black.svg#notokr-black') format('svg');
}

@font-face {
	font-family: "NotoSans";
    font-weight: 700;
    font-style: normal;
	src: url('../fonts/notokr-bold.eot');
    src: url('../fonts/notokr-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-bold.woff2') format('woff2'),
         url('../fonts/notokr-bold.woff') format('woff'),
         url('../fonts/notokr-bold.ttf') format('truetype'),
         url('../fonts/notokr-bold.svg#notokr-bold') format('svg');
}

@font-face {
	font-family: "NotoSans";
    font-weight: 500;
    font-style: normal;
	src: url('../fonts/notokr-medium.eot');
    src: url('../fonts/notokr-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-medium.woff2') format('woff2'),
         url('../fonts/notokr-medium.woff') format('woff'),
         url('../fonts/notokr-medium.ttf') format('truetype'),
         url('../fonts/notokr-medium.svg#notokr-medium') format('svg');
}

@font-face {
	font-family: "NotoSans";
 	font-weight: 400;
    font-style: normal;
	src: url('../fonts/notokr-regular.eot');
	src: url('../fonts/notokr-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-regular.woff2') format('woff2'),
         url('../fonts/notokr-regular.woff') format('woff'),
         url('../fonts/notokr-regular.ttf') format('truetype'),
         url('../fonts/notokr-regular.svg#notokr-regular') format('svg');
}

@font-face {
	font-family: "NotoSans";
    font-weight: 350;
    font-style: normal;
	src: url('../fonts/notokr-demilight.eot');
    src: url('../fonts/notokr-demilight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-demilight.woff2') format('woff2'),
         url('../fonts/notokr-demilight.woff') format('woff'),
         url('../fonts/notokr-demilight.ttf') format('truetype'),
         url('../fonts/notokr-demilight.svg#notokr-demilight') format('svg');
}

@font-face {
	font-family: "NotoSans";
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/notokr-light.eot');
    src: url('../fonts/notokr-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-light.woff2') format('woff2'),
         url('../fonts/notokr-light.woff') format('woff'),
         url('../fonts/notokr-light.ttf') format('truetype'),
         url('../fonts/notokr-light.svg#notokr-thin') format('svg');

}

@font-face {
	font-family: "NotoSans";
    font-weight: 100;
    font-style: normal;
	src: url('../fonts/notokr-thin.eot');
    src: url('../fonts/notokr-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/notokr-thin.woff2') format('woff2'),
         url('../fonts/notokr-thin.woff') format('woff'),
         url('../fonts/notokr-thin.ttf') format('truetype'),
         url('../fonts/notokr-thin.svg#notokr-thin') format('svg');
}
